/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;}

/* VARIÁVEIS */
:root{
    --corAzul:#274083;
}

body{font-family: arial;
    color:#fff;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-areas: 'cabecalho formulario'
                         'principal formulario'
                         'rodape formulario';
    height:100vh;
}

/*HEADER*/
header{
    grid-area:cabecalho;
}
.logo h1{
    color:var(--corAzul); margin-left:10px;
}
.logo img{
    width: 80px;
}
.logo{
    display:flex;
    align-items: center;
    padding:10px 30px;
}

/*MAIN*/
main{
    grid-area:principal;
    background-color: var(--corAzul);
    background: linear-gradient(to right,#3375B2, var(--corAzul));
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 1cm;
}
main figure{
    width: 200px;

}
main figure img{
    width: 100%;
}
main h1{
    font-size: 40px;
    width: 80%;
    margin-bottom: 30px;
}
main h3{
    width: 80%;
}
/*ASIDE*/
aside{
    grid-area:formulario;
    background-color: var(--corAzul);
}
aside h1{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
aside form{
    width:90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
aside input, aside select, aside button{
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}
::placeholder{
    color: black;
}
/* aside input:focus, aside select:focus{
    outline: 2px solid #3375B2;
} */
/* não precisa deixa o :where colado em outro seletor (a:where), caso contrario não vai fucionar */

aside :where(input, select):focus{
    outline: 2px solid #3375B2;
}
aside button{
    background-color: #11dd2c;
    cursor: pointer;
    transition: all 0.2s linear;
}
aside button:hover{
    box-shadow: 0 0 10px #000;
    transition: all 0.2s linear;
}
aside small{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    display: block;
}
/*FOOTER*/
footer{
    grid-area:rodape;
    background-color: #ccc;
    color: var(--corAzul);
    display: flex;
    padding: 30px;
}
footer section{
    margin: 5px 20px;
}
footer .rodape-titulo{
    margin-bottom: 20px;
}
footer .rodape-conteudo{
    text-align: justify;
    line-height: 0.7cm;
}

/* RESPONSIVIDADE */
/* tablet */
@media screen and (max-width:1200px){
    body{
        grid-template-columns: 100%;
        grid-template-areas: 'cabecalho'
                             'principal'
                             'rodape'
                             'formulario';
    }
    main figure{
        margin-right: 20px;
    }
    main{
        height: 50vh;
    }
}

/* smartphone */
@media screen and (max-width:750px){
    main{
        background: #3375B2 url(../imagens/livro2.png) 200px;
        background-size: 200px;
        background-repeat: no-repeat;
        background-position: center;
        background-blend-mode: multiply;
    }

    main figure{
        display: none;
    }
    main h1, main h3{
        width: 100%;
        text-shadow: 2px 1px 1px #000;
    }
    footer{
        flex-direction: column;
        row-gap: 20px;
    }
}